# Config file

project_root="/ifshome/mhapenney/dtitest"

subjectlist="${project_root}/data/dtisubjects.txt"


## SGE -------------------------------------------------------

SGE_JOB_OUTPUTS="${project_root}/job_outputs/"

## VAR  -------------------------------------------------------

#N4="${subj}_N4_brain.nii.gz"

## FSL -------------------------------------------------------

FSLDIR="/usr/local/fsl-5.0.9"
FSLBET="/usr/local/fsl-5.0.9/bin/bet"
FSLMATHS="/usr/local/fsl-5.0.9/bin/fslmaths"
FSLCLUSTER="/usr/local/fsl-5.0.9/bin/cluster"
FSLSTATS="/usr/local/fsl-5.0.9/bin/fslstats"
FSLFLIRT="/usr/local/fsl-5.0.9/bin/flirt"
FSLREOR2STD="/usr/local/fsl-5.0.9/bin/fslreorient2std"
FSLROBUST="/usr/local/fsl-5.0.9/bin/robustfov"
FSLXFM="/usr/local/fsl-5.0.9/bin/convert_xfm"

## ANTS -------------------------------------------------------

IMAGEMATH="/usr/local/ANTs_2.2.0/bin/bin/ImageMath"




## MATLAB DENOISING -------------------------------------------

matlab="/usr/local/MATLAB/R2014bbin/matlab"

LPCA_tool="/ifs/loni/faculty/mbraskie/tools/LPCA_tool_rician"
matlabCall="LPCA_Tool('${dirI}', '${dirO}')"


## DCM --> NIFTI CONVERSION -----------------------------------


DCM2NIIX="/usr/local/dcm2niix-master/build/bin/dcm2niix -o {out} {in}"

## GIBBS RINGING ----------------------------------------------

GIBBSPATH="/ifs/loni/faculty/shi/spectrum/daydogan/dev/mrtrix3-master-20180723/bin/mrdegibbs"

## EDDY CURRENT -----------------------------------------------

EDDY_COR="/usr/local/fsl-5.0.11/bin/eddy_openmp"

## MRTRIX3

## ANACONDA

${ANAC}=""
